{
  "log": {
    "_recordingName": "CollectiblesController/addCollectible/should add collectible erc721 and get collectible contract information only from contract",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "ec0d297c8dc6f307b9ffb674294f076b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":9,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x2aEa4Add166EBf38b63d09a75dE1a7b94Aa24163\",\"data\":\"0x06fdde03\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 230,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":9,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000a4b75646f73546f6b656e00000000000000000000000000000000000000000000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 194,
      },
      {
        "_id": "b434fa3b4f5de6fce1c9c5ddf8a82a19",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":10,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x2aEa4Add166EBf38b63d09a75dE1a7b94Aa2416[...]
