# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*                                    @MetaMask/engineering

/packages/permission-controller      @MetaMask/snaps-devs
/packages/notification-controller    @MetaMask/snaps-devs
/packages/rate-limit-controller      @MetaMask/snaps-devs

/packages/approval-controller        @MetaMask/confirmations
/packages/gas-fee-controller         @MetaMask/confirmations
/packages/message-manager            @MetaMask/confirmations
/packages/name-controller            @MetaMask/confirmations
/packages/signature-controller       @MetaMask/confirmations
/packages/transaction-controller     @MetaMask/confirmations

/packages/phishing-controller        @MetaMask/product-safety
