# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Note: Please keep this synchronized with the `teams.json` file in the repository root.
# That file is used for some automated workflows, and maps controller to owning team(s).

/.github/                            @MetaMask/core-platform

## Accounts Team
/packages/accounts-controller                @MetaMask/accounts-engineers
/packages/multichain-transactions-controller @MetaMask/accounts-engineers
/packages/multichain-account-service         @MetaMask/accounts-engineers
/packages/account-tree-controller            @MetaMask/accounts-engineers

## Assets Team
/packages/assets-controllers         @MetaMask/metamask-assets
/packages/network-enablement-controller @MetaMask/metamask-assets

## Confirmations Team
/packages/address-book-controller           @MetaMask/confirmations
/packages/approval-controller               @MetaMask/confirmations
/packages/ens-controller                    @MetaMask/confirmations
/packages/gas-fee-controller                @MetaMask/confirmations
/packages/logging-controller                @MetaMask/confirmations
/packages/message-manager                   @MetaMask/confirmations
/packages/name-controller                   @MetaMask/confirmations
/packages/signature-controller              @MetaMask/confirmations
/packages/transaction-controller            @MetaMask/confirmations
/packages/user-operation-controller         @MetaMask/confirmations

## Earn Team
/packages/earn-controller                   @MetaMask/earn
## Notifications Team
/packages/notification-services-controller     @MetaMask/notifications

## Product Safety Team
/packages/phishing-controller              @MetaMask/product-safety

## Snaps Team
/packages/rate-limit-controller            @MetaMask/snaps-devs

## Swaps-Bridge Team
/packages/bridge-controller                @MetaMask/swaps-engineers
/packages/bridge-status-controller        @MetaMask/swaps-engineers

## Platform Team

/packages/app-metadata-controller @MetaMask/mobile-platform

## Portfolio Team
/packages/token-search-discovery-controller      @MetaMask/portfolio

## Vault Team
/packages/delegation-controller           @MetaMask/vault

## Wallet API Platform Team
/packages/chain-agnostic-permission        @MetaMask/wallet-api-platform-engineers
/packages/eip1193-permission-middleware    @MetaMask/wallet-api-platform-engineers
/packages/multichain-api-middleware        @MetaMask/wallet-api-platform-engineers
/packages/selected-network-controller      @MetaMask/wallet-api-platform-engineers

## Core Platform Team
/packages/base-controller              @MetaMask/core-platform
/packages/build-utils                  @MetaMask/core-platform
/packages/composable-controller        @MetaMask/core-platform
/packages/controller-utils             @MetaMask/core-platform
/packages/error-reporting-service      @MetaMask/core-platform
/packages/messenger                    @MetaMask/core-platform
/packages/sample-controllers           @MetaMask/core-platform
/packages/polling-controller           @MetaMask/core-platform
/packages/preferences-controller       @MetaMask/core-platform

## Wallet UX Team
/packages/announcement-controller      @MetaMask/wallet-ux

## Web3Auth Team
/packages/seedless-onboarding-controller @MetaMask/web3auth
/packages/subscription-controller        @MetaMask/web3auth

## Joint team ownership
/packages/eth-json-rpc-provider        @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/json-rpc-engine              @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/json-rpc-middleware-stream   @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/keyring-controller           @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/multichain-network-controller  @MetaMask/core-platform @MetaMask/accounts-engineers @MetaMask/metamask-assets
/packages/network-controller           @MetaMask/core-platform @MetaMask/metamask-assets
/packages/permission-controller        @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform @MetaMask/snaps-devs
/packages/permission-log-controller    @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/profile-sync-controller      @MetaMask/identity
/packages/remote-feature-flag-controller @MetaMask/extension-platform @MetaMask/mobile-platform
/packages/foundryup                    @MetaMask/mobile-platform @MetaMask/extension-platform

## Package Release related
/packages/account-tree-controller/package.json  @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/account-tree-controller/CHANGELOG.md  @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/accounts-controller/package.json        @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/accounts-controller/CHANGELOG.md        @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/address-book-controller/package.json    @MetaMask/confirmations @MetaMask/core-platform
/packages/address-book-controller/CHANGELOG.md    @MetaMask/confirmations @MetaMask/core-platform
/packages/announcement-controller/package.json    @MetaMask/wallet-ux @MetaMask/core-platform
/packages/announcement-controller/CHANGELOG.md    @MetaMask/wallet-ux @MetaMask/core-platform
/packages/approval-controller/package.json        @MetaMask/confirmations @MetaMask/core-platform
/packages/approval-controller/CHANGELOG.md        @MetaMask/confirmations @MetaMask/core-platform
/packages/assets-controllers/package.json         @MetaMask/metamask-assets @MetaMask/core-platform
/packages/assets-controllers/CHANGELOG.md         @MetaMask/metamask-assets @MetaMask/core-platform
/packages/chain-agnostic-permission/package.json  @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/chain-agnostic-permission/CHANGELOG.md  @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/delegation-controller/package.json      @MetaMask/vault @MetaMask/core-platform
/packages/delegation-controller/CHANGELOG.md      @MetaMask/vault @MetaMask/core-platform
/packages/earn-controller/package.json            @MetaMask/earn @MetaMask/core-platform
/packages/earn-controller/CHANGELOG.md            @MetaMask/earn @MetaMask/core-platform
/packages/eip1193-permission-middleware/package.json @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/eip1193-permission-middleware/CHANGELOG.md @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/ens-controller/package.json             @MetaMask/confirmations @MetaMask/core-platform
/packages/ens-controller/CHANGELOG.md             @MetaMask/confirmations @MetaMask/core-platform
/packages/gas-fee-controller/package.json         @MetaMask/confirmations @MetaMask/core-platform
/packages/gas-fee-controller/CHANGELOG.md         @MetaMask/confirmations @MetaMask/core-platform
/packages/keyring-controller/package.json         @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/keyring-controller/CHANGELOG.md         @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/logging-controller/package.json         @MetaMask/confirmations @MetaMask/core-platform
/packages/logging-controller/CHANGELOG.md         @MetaMask/confirmations @MetaMask/core-platform
/packages/message-manager/package.json            @MetaMask/confirmations @MetaMask/core-platform
/packages/message-manager/CHANGELOG.md            @MetaMask/confirmations @MetaMask/core-platform
/packages/multichain-account-service/package.json @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/multichain-account-service/CHANGELOG.md @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/multichain-api-middleware/package.json  @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/multichain-api-middleware/CHANGELOG.md  @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/name-controller/package.json            @MetaMask/confirmations @MetaMask/core-platform
/packages/name-controller/CHANGELOG.md            @MetaMask/confirmations @MetaMask/core-platform
/packages/notification-services-controller/package.json @MetaMask/notifications @MetaMask/core-platform
/packages/notification-services-controller/CHANGELOG.md @MetaMask/notifications @MetaMask/core-platform
/packages/phishing-controller/package.json    @MetaMask/product-safety @MetaMask/core-platform
/packages/phishing-controller/CHANGELOG.md    @MetaMask/product-safety @MetaMask/core-platform
/packages/profile-sync-controller/package.json    @MetaMask/identity @MetaMask/core-platform
/packages/profile-sync-controller/CHANGELOG.md    @MetaMask/identity @MetaMask/core-platform
/packages/selected-network-controller/package.json @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/selected-network-controller/CHANGELOG.md @MetaMask/wallet-api-platform-engineers @MetaMask/core-platform
/packages/signature-controller/package.json       @MetaMask/confirmations @MetaMask/core-platform
/packages/signature-controller/CHANGELOG.md       @MetaMask/confirmations @MetaMask/core-platform
/packages/rate-limit-controller/package.json      @MetaMask/snaps-devs @MetaMask/core-platform
/packages/rate-limit-controller/CHANGELOG.md      @MetaMask/snaps-devs @MetaMask/core-platform
/packages/transaction-controller/package.json     @MetaMask/confirmations @MetaMask/core-platform
/packages/transaction-controller/CHANGELOG.md     @MetaMask/confirmations @MetaMask/core-platform
/packages/user-operation-controller/package.json  @MetaMask/confirmations @MetaMask/core-platform
/packages/user-operation-controller/CHANGELOG.md  @MetaMask/confirmations @MetaMask/core-platform
/packages/multichain-transactions-controller/package.json @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/multichain-transactions-controller/CHANGELOG.md @MetaMask/accounts-engineers @MetaMask/core-platform
/packages/token-search-discovery-controller/package.json      @MetaMask/portfolio @MetaMask/core-platform
/packages/token-search-discovery-controller/CHANGELOG.md      @MetaMask/portfolio @MetaMask/core-platform
/packages/bridge-controller/package.json                 @MetaMask/swaps-engineers @MetaMask/core-platform
/packages/bridge-controller/CHANGELOG.md                 @MetaMask/swaps-engineers @MetaMask/core-platform
/packages/remote-feature-flag-controller/package.json @MetaMask/extension-platform @MetaMask/mobile-platform @MetaMask/core-platform
/packages/remote-feature-flag-controller/CHANGELOG.md @MetaMask/extension-platform @MetaMask/mobile-platform @MetaMask/core-platform
/packages/bridge-status-controller/package.json         @MetaMask/swaps-engineers @MetaMask/core-platform
/packages/bridge-status-controller/CHANGELOG.md         @MetaMask/swaps-engineers @MetaMask/core-platform
/packages/app-metadata-controller/package.json        @MetaMask/mobile-platform @MetaMask/core-platform
/packages/app-metadata-controller/CHANGELOG.md        @MetaMask/mobile-platform @MetaMask/core-platform
/packages/foundryup/package.json @MetaMask/mobile-platform @MetaMask/extension-platform @MetaMask/core-platform
/packages/foundryup/CHANGELOG.md @MetaMask/mobile-platform @MetaMask/extension-platform @MetaMask/core-platform
/packages/seedless-onboarding-controller/package.json @MetaMask/web3auth @MetaMask/core-platform
/packages/seedless-onboarding-controller/CHANGELOG.md @MetaMask/web3auth @MetaMask/core-platform
/packages/network-enablement-controller/package.json @MetaMask/metamask-assets @MetaMask/core-platform
/packages/network-enablement-controller/CHANGELOG.md @MetaMask/metamask-assets @MetaMask/core-platform
/packages/subscription-controller/package.json @MetaMask/web3auth @MetaMask/core-platform
/packages/subscription-controller/CHANGELOG.md @MetaMask/web3auth @MetaMask/core-platform
