{
  "log": {
    "_recordingName": "CollectiblesController/isCollectibleOwner/should throw an error for an unsupported standard",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "20f82aec5da20d209991aee5ae44fe30",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":20,\"method\":\"eth_call\",\"params\":[{\"to\":\"0xb47e3cd837dDF8e4c57F05d70Ab865de6e193BBB\",\"data\":\"0x6352211e0000000000000000000000000000000000000000000000000000000000000000\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 85,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":20,\"error\":{\"code\":-32000,\"message\":\"invalid opcode: INVALID\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254,
      },
      {
        "_id": "a465980225f57f15c87ec48551d65e5e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":21,\"method\":\"eth_call\",\"params\":[{\"to\":\"0xb47e3cd837dDF8e4c57F05d70Ab865de6e193BBB\",\"data\":\"0x00fdd58e00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 85,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":21,\"error\":{\"code\":-32000,\"message\":\"invalid opcode: INVALID\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 221,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
