version: 2.1

workflows:
  build-test:
    jobs:
      - prep-deps
      - prep-build:
          requires:
            - prep-deps
      - test-lint:
          requires:
            - prep-deps
      - test-unit:
          requires:
            - prep-build
      - test-format:
          requires:
            - prep-build
      - all-tests-pass:
          requires:
            - test-lint
            - test-unit
            - test-format

jobs:
  prep-deps:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - run:
          name: Install deps
          command: |
            .circleci/scripts/deps-install.sh
      - run:
          name: Collect yarn install HAR logs
          command: |
            .circleci/scripts/collect-har-artifact.sh
      - persist_to_workspace:
          root: .
          paths:
          - node_modules
          - build-artifacts

  prep-build:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: .
          paths:
            - dist

  test-format:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Format
          command: yarn format

  test-lint:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: yarn lint

  test-unit:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Unit tests
          command: yarn test --maxWorkers=1

  all-tests-pass:
    docker:
      - image: circleci/node:12
    steps:
      - run:
          name: All tests passed
          command: echo 'Great success'
