openapi: 3.0.0
info:
  title: User Storage API
  version: 1.0.0
  description: |
    User Storage provides two storage models and an internal interface for service-to-service access.

    **End-to-End Encrypted User Storage** -- Data is encrypted client-side before it reaches the server.
    The server stores opaque ciphertext and cannot read the contents. Used for syncing user
    configuration (accounts, networks, preferences) across devices.

    **Authenticated User Storage** -- Data is stored as structured JSON, scoped to the authenticated user.
    The server can read and validate the contents. Used for structured records that other services
    need to consume (e.g. delegations, preferences, tokens).

    **Internal Endpoints** -- Service-to-service endpoints that are not exposed to end users. Access is
    controlled by the `X-Service-Name` header. These endpoints allow whitelisted backend services to
    read user data.
servers:
  - url: 'https://user-storage.api.cx.metamask.io'
    description: Main production server
  - url: 'https://user-storage.uat-api.cx.metamask.io'
    description: UAT server
  - url: 'https://user-storage.dev-api.cx.metamask.io'
    description: Dev server
tags:
  - name: User Storage (End-to-End Encrypted)
    description: |
      Client-side encrypted key/value storage. All data is encrypted by the client before submission;
      the server only stores and returns opaque ciphertext.
  - name: Authenticated User Storage
    description: |
      Structured storage scoped to the authenticated user. Data is server-side encrypted,
      allowing authorized services to access user preferences.
  - name: Internal
    description: |
      Service-to-service endpoints. For internal use only. Callers must provide the `X-Service-Name`
      header with a whitelisted service name.

paths:
  /docs-json:
    get:
      tags:
        - Documentation
      summary: Get OpenAPI specification as JSON
      description: Returns the OpenAPI specification converted from YAML to JSON format.
      responses:
        200:
          description: OpenAPI specification in JSON format
          content:
            application/json:
              schema:
                type: object
                description: OpenAPI 3.0.2 specification document

  # ---------------------------------------------------------------------------
  # End-to-End Encrypted User Storage
  # ---------------------------------------------------------------------------

  /api/v1/userstorage/{feature}:
    get:
      summary: Retrieve all keys in a feature for a specific user
      operationId: getKeys
      tags:
        - User Storage (End-to-End Encrypted)
      security:
        - jwt: []
      parameters:
        - name: feature
          in: path
          required: true
          description: Feature name for the configuration
          schema:
            type: string
      responses:
        '200':
          description: All keys within a feature for a specific user
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    HashedKey:
                      type: string
                    Data:
                      type: string
        '401':
          description: Unauthorized request
        '500':
          description: Internal error
    put:
      summary: Batch write keys in a feature
      operationId: putKeys
      tags:
        - User Storage (End-to-End Encrypted)
      security:
        - jwt: []
      parameters:
        - name: feature
          in: path
          required: true
          description: Feature name for the configuration
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              oneOf:
                - required: ["data"]
                  properties:
                    data:
                      type: object
                - required: ["batch_delete"]
                  properties:
                    batch_delete:
                      type: array
                      items:
                        type: string
      responses:
        '200':
          description: Configuration keys updated successfully
        '400':
          description: Bad request - invalid input, empty request, or mixed update and delete
        '401':
          description: Unauthorized request
        '413':
          description: Request entity too large - too many keys or value exceeds 2MB limit
        '423':
          description: Locked - ongoing transaction
        '500':
          description: Internal error
    delete:
      summary: Delete all keys in a feature for a specific user
      operationId: deleteKeys
      tags:
        - User Storage (End-to-End Encrypted)
      security:
        - jwt: []
      parameters:
        - name: feature
          in: path
          required: true
          description: Feature name for the configuration
          schema:
            type: string
      responses:
        '204':
          description: Configuration keys deleted successfully
        '401':
          description: Unauthorized request
        '500':
          description: Internal error

  /api/v1/userstorage/{feature}/{key}:
    get:
      summary: Retrieve configuration key
      operationId: getKey
      tags:
        - User Storage (End-to-End Encrypted)
      security:
        - jwt: []
      parameters:
        - name: feature
          in: path
          required: true
          description: Feature name for the configuration
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: Key name for the configuration
          schema:
            type: string
      responses:
        '200':
          description: Configuration key retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  HashedKey:
                    type: string
                  Data:
                    type: string
              examples:
                exampleResponse:
                  value:
                    Data: "your data here"
                    HashedKey: "key"
        '401':
          description: Unauthorized request
        '404':
          description: Configuration not found
    delete:
      summary: Delete key by hash key
      operationId: deleteKey
      tags:
        - User Storage (End-to-End Encrypted)
      security:
        - jwt: []
      parameters:
        - name: feature
          in: path
          required: true
          description: Feature name for the configuration
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: Key name for the configuration
          schema:
            type: string
      responses:
        '204':
          description: Configuration key has been successfully deleted
        '401':
          description: Unauthorized request
        '404':
          description: Configuration not found
    put:
      summary: Create or Update configuration key
      operationId: putKey
      tags:
        - User Storage (End-to-End Encrypted)
      security:
        - jwt: []
      parameters:
        - name: feature
          in: path
          required: true
          description: Feature name for the configuration
          schema:
            type: string
        - name: key
          in: path
          required: true
          description: Key name for the configuration
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
              required:
                - data
      responses:
        '200':
          description: Configuration key updated successfully
        '400':
          description: Bad request - invalid body or empty data field
        '401':
          description: Unauthorized request
        '413':
          description: Request entity too large - body exceeds 2MB limit

  # ---------------------------------------------------------------------------
  # Authenticated User Storage -- Delegations
  # ---------------------------------------------------------------------------

  /api/v1/delegations:
    get:
      summary: List own delegations
      description: |
        Returns all delegation records belonging to the authenticated user.
      operationId: listDelegations
      tags:
        - Authenticated User Storage
      security:
        - jwt: []
      responses:
        '200':
          description: List of delegations for the authenticated user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DelegationResponse'
        '401':
          description: Unauthorized request
        '500':
          description: Internal error
    post:
      summary: Submit a signed delegation
      description: |
        Stores a signed delegation record for the authenticated user.
        The delegation hash is provided in the metadata field.
        Recorded delegations are immutable; once stored, a delegation cannot be modified or replaced.
      operationId: createDelegation
      tags:
        - Authenticated User Storage
      security:
        - jwt: []
      parameters:
        - name: X-Client-Type
          in: header
          required: false
          description: The type of client submitting the delegation
          schema:
            $ref: '#/components/schemas/ClientType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DelegationSubmission'
      responses:
        '200':
          description: Delegation stored successfully
        '400':
          description: Bad request - invalid or missing fields
        '401':
          description: Unauthorized request
        '409':
          description: Conflict - delegation already exists and cannot be modified
        '500':
          description: Internal error

  /api/v1/delegations/{delegationHash}:
    delete:
      summary: Revoke a delegation
      description: |
        Removes a delegation record for the authenticated user. The caller must own the delegation.
      operationId: revokeDelegation
      tags:
        - Authenticated User Storage
      security:
        - jwt: []
      parameters:
        - name: delegationHash
          in: path
          required: true
          description: The unique hash identifying the delegation (hex string, 0x-prefixed)
          schema:
            type: string
      responses:
        '204':
          description: Delegation revoked successfully
        '401':
          description: Unauthorized request
        '404':
          description: Delegation not found
        '500':
          description: Internal error

  # ---------------------------------------------------------------------------
  # Authenticated User Storage -- Preferences
  # ---------------------------------------------------------------------------

  /api/v1/preferences/notifications:
    get:
      summary: Retrieve notification preferences
      description: |
        Returns the notification preferences for the authenticated user.
      operationId: getNotificationPreferences
      tags:
        - Authenticated User Storage
      security:
        - jwt: []
      responses:
        '200':
          description: Notification preferences for the authenticated user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '401':
          description: Unauthorized request
        '404':
          description: Notification preferences not found
        '500':
          description: Internal error
    put:
      summary: Create or update notification preferences
      description: |
        Upserts the notification preferences for the authenticated user.
        On first call the record is created; subsequent calls update the stored preferences.
      operationId: putNotificationPreferences
      tags:
        - Authenticated User Storage
      security:
        - jwt: []
      parameters:
        - name: X-Client-Type
          in: header
          required: false
          description: The type of client submitting the preferences
          schema:
            $ref: '#/components/schemas/ClientType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferences'
      responses:
        '200':
          description: Notification preferences saved successfully
        '400':
          description: Bad request - invalid or missing fields
        '401':
          description: Unauthorized request
        '500':
          description: Internal error

  # ---------------------------------------------------------------------------
  # Internal -- Service-to-Service
  # ---------------------------------------------------------------------------

  /internal/api/v1/profiles/{profileId}/delegations:
    get:
      summary: Read delegations for a profile (service-to-service)
      description: |
        Internal endpoint for backend services to read delegation records for a given profile.
        Requires the `X-Service-Name` header with a whitelisted service name.
      operationId: getProfileDelegations
      tags:
        - Internal
      parameters:
        - name: profileId
          in: path
          required: true
          description: The profile identifier to look up delegations for
          schema:
            type: string
        - name: X-Service-Name
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/ServiceName'
      responses:
        '200':
          description: List of delegations for the requested profile
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DelegationResponse'
        '403':
          description: Forbidden - X-Service-Name is missing or not whitelisted
        '404':
          description: Profile not found
        '500':
          description: Internal error

  /internal/api/v1/profiles/{profileId}/preferences/notifications:
    get:
      summary: Read notification preferences for a profile (service-to-service)
      description: |
        Internal endpoint for backend services to read notification preferences for a given profile.
        Requires the `X-Service-Name` header with a whitelisted service name.
      operationId: getProfileNotificationPreferences
      tags:
        - Internal
      parameters:
        - name: profileId
          in: path
          required: true
          description: The profile identifier to look up notification preferences for
          schema:
            type: string
        - name: X-Service-Name
          in: header
          required: true
          schema:
            $ref: '#/components/schemas/ServiceName'
      responses:
        '200':
          description: Notification preferences for the requested profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '403':
          description: Forbidden - X-Service-Name is missing or not whitelisted
        '404':
          description: Notification preferences not found for profile
        '500':
          description: Internal error

components:
  schemas:
    ServiceName:
      type: string
      enum:
        - chomp-api
        - chomp-delegation-executor
        - notification-api
        - trigger-api
        - push-api
        - perps-api
        - notify-platform-api

    ClientType:
      type: string
      description: The type of client making the request
      enum:
        - extension
        - mobile
        - portfolio

    Caveat:
      type: object
      required:
        - enforcer
        - terms
        - args
      properties:
        enforcer:
          type: string
          description: Address of the caveat enforcer contract
          example: '0x1234567890abcdef1234567890abcdef12345678'
        terms:
          type: string
          description: ABI-encoded caveat terms
          example: '0xabcdef'
        args:
          type: string
          description: ABI-encoded caveat arguments
          example: '0x'

    SignedDelegation:
      type: object
      required:
        - delegate
        - delegator
        - authority
        - caveats
        - salt
        - signature
      properties:
        delegate:
          type: string
          description: Address the delegation is granted to
          example: '0x1111111111111111111111111111111111111111'
        delegator:
          type: string
          description: Address granting the delegation
          example: '0x2222222222222222222222222222222222222222'
        authority:
          type: string
          description: Root authority or parent delegation hash
          example: '0x0000000000000000000000000000000000000000000000000000000000000000'
        caveats:
          type: array
          items:
            $ref: '#/components/schemas/Caveat'
        salt:
          type: string
          description: Unique salt to prevent replay
          example: '0x00000001'
        signature:
          type: string
          description: EIP-712 signature over the delegation
          example: '0xaabbcc...'

    DelegationMetadata:
      type: object
      description: Metadata associated with a delegation
      required:
        - delegationHash
        - chainIdHex
        - allowance
        - tokenSymbol
        - tokenAddress
        - type
      properties:
        delegationHash:
          type: string
          description: Keccak-256 hash uniquely identifying the delegation (0x-prefixed)
          example: '0xdae6d132587770a2eb84411e125d9458a5fa3ec28615fee332f1947515041d10'
        chainIdHex:
          type: string
          description: Chain ID in hex format (0x-prefixed)
          example: '0x1'
        allowance:
          type: string
          description: Token allowance in hex format (0x-prefixed)
          example: '0xde0b6b3a7640000'
        tokenSymbol:
          type: string
          description: Symbol of the token
          example: 'USDC'
        tokenAddress:
          type: string
          description: Token contract address (0x-prefixed)
          example: '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48'
        type:
          type: string
          description: Type of delegation

    DelegationSubmission:
      type: object
      description: Request body for submitting a new delegation
      required:
        - signedDelegation
        - metadata
      properties:
        signedDelegation:
          $ref: '#/components/schemas/SignedDelegation'
        metadata:
          $ref: '#/components/schemas/DelegationMetadata'

    DelegationResponse:
      type: object
      description: A stored delegation record
      required:
        - signedDelegation
        - metadata
      properties:
        signedDelegation:
          $ref: '#/components/schemas/SignedDelegation'
        metadata:
          $ref: '#/components/schemas/DelegationMetadata'

    NotificationPreferences:
      type: object
      description: Notification preferences for the authenticated user
      required:
        - walletActivity
        - marketing
        - perps
        - socialAI
      properties:
        walletActivity:
          $ref: '#/components/schemas/WalletActivityPreference'
        marketing:
          $ref: '#/components/schemas/MarketingPreference'
        perps:
          $ref: '#/components/schemas/PerpsPreference'
        socialAI:
          $ref: '#/components/schemas/SocialAIPreference'

    WalletActivityPreference:
      type: object
      required:
        - enabled
        - accounts
      properties:
        enabled:
          type: boolean
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/WalletActivityAccount'

    WalletActivityAccount:
      type: object
      required:
        - address
        - enabled
      properties:
        address:
          type: string
          description: Wallet address to track activity for
          example: '0x1234567890abcdef1234567890abcdef12345678'
        enabled:
          type: boolean

    MarketingPreference:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean

    PerpsPreference:
      type: object
      required:
        - enabled
      properties:
        enabled:
          type: boolean

    SocialAIPreference:
      type: object
      required:
        - enabled
        - txAmountLimit
        - tokens
      properties:
        enabled:
          type: boolean
        txAmountLimit:
          type: integer
        tokens:
          type: array
          items:
            type: string

  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        User-facing authentication. The JWT `sub` claim identifies the user profile.
