{
  "log": {
    "_recordingName": "CollectiblesController/addCollectible/should add collectible erc721 and get collectible contract information from contract and OpenSea",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "5ec0486ec698c9110e83f09f3ea85daa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":5,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x2aEa4Add166EBf38b63d09a75dE1a7b94Aa24163\",\"data\":\"0x06fdde03\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 230,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":5,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000000a4b75646f73546f6b656e00000000000000000000000000000000000000000000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      },
      {
        "_id": "701f4dd7101f825b12e96c1de5c1e654",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":6,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x2aEa4Add166EBf38b63d09a75dE1a7b94Aa24163[...]
