.vp-doc [class*='language-'] pre,
.vp-doc [class*='language-'] code .highlighted {
  background-color: oklch(0.98 0 268.28);
}

.vp-doc [class*='language-'] pre {
  border: 1px dotted oklch(0.87 0 0);
}

.vp-doc [class*='language-'] pre.has-highlighted {
  background-color: white;
}
