{
  "log": {
    "_recordingName": "CollectiblesController/addCollectible/should add collectible erc1155 and get collectible contract information from contract",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "8ecdbe791110b198f194e5b799518323",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x495f947276749Ce646f68AC8c248420045cb7b5e\",\"data\":\"0x06fdde03\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 230,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000194f70656e536561205368617265642053746f726566726f6e7400000000000000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 361,
      },
      {
        "_id": "33db86582b7b5ace6d7eaf7b39e9f9ce",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x495f947276749Ce646f68AC8c248420045cb7b5e[...]
