{
  "log": {
    "_recordingName": "CollectiblesController/isCollectibleOwner/should not verify the ownership of an ERC-721 collectible with the wrong owner address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "f798da8e9c588f49426f8d598874faab",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":17,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x60f80121c31a0d46b5279700f9df786054aa5ee5\",\"data\":\"0x6352211e000000000000000000000000000000000000000000000000000000000011781a\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 103,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":17,\"result\":\"0x0000000000000000000000005a3ca5cd63807ce5e4d7841ab32ce6b6d9bbba2d\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 268,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
