{
  "log": {
    "_recordingName": "CollectiblesController/isCollectibleOwner/should not verify the ownership of an ERC-1155 collectible with the wrong owner address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.4"
    },
    "entries": [
      {
        "_id": "5613e4289d4eb4c141f10987f3c0feef",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":18,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x495f947276749Ce646f68AC8c248420045cb7b5e\",\"data\":\"0x6352211e5a3ca5cd63807ce5e4d7841ab32ce6b6d9bbba2d000000000000010000000001\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 80,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":18,\"error\":{\"code\":-32000,\"message\":\"execution reverted\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      },
      {
        "_id": "9db58408e27e961a3df8a43f842922c0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":19,\"method\":\"eth_call\",\"params\":[{\"to\":\"0x495f947276749Ce646f68AC8c248420045cb7b5e\",\"data\":\"0x00fdd58e00000000000000000000000000000000000000000000000000000000000000005a3ca5cd63807ce5e4d7841ab32ce6b6d9bbba2d000000000000010000000001\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://mainnet.infura.io/v3/ad3a368836ff4596becc3be8e2f137ac"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 103,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":19,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000000000\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
