name: Check Changelog

on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]

jobs:
  check_changelog:
    name: Check Changelog
    runs-on: ubuntu-latest
    steps:
      - uses: MetaMask/github-tools/.github/actions/changelog-check@dd2d882d8cdc94e9d3d55636df05cb22de63f633
        with:
          base-branch: ${{ github.event.pull_request.base.ref }}
          head-ref: ${{ github.head_ref }}
          labels: ${{ toJSON(github.event.pull_request.labels) }}
          pr-number: ${{ github.event.pull_request.number }}
          repo: ${{ github.repository }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
