name: Check Changelog

on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]

jobs:
  check_changelog:
    uses: MetaMask/github-tools/.github/workflows/changelog-check.yml@6a04e4d0c8c25680a7543cfcd2e2fb7125b6759c
    with:
      action-sha: fc6fe1a3fb591f6afa61f0dbbe7698bd50fab9c7
      base-branch: ${{ github.event.pull_request.base.ref }}
      head-ref: ${{ github.head_ref }}
      labels: ${{ toJSON(github.event.pull_request.labels) }}
      pr-number: ${{ github.event.pull_request.number }}
      repo: ${{ github.repository }}
    secrets:
      gh-token: ${{ secrets.GITHUB_TOKEN }}
