name: Check Changelog

on:
  pull_request:
    types: [opened, synchronize, labeled, unlabeled]

jobs:
  check_changelog:
    uses: MetaMask/github-tools/.github/workflows/changelog-check.yml@f4b2aa82741f641bad93b8a0242c06cc0de72d5e
    with:
      action-sha: f4b2aa82741f641bad93b8a0242c06cc0de72d5e
      base-branch: ${{ github.event.pull_request.base.ref }}
      head-ref: ${{ github.head_ref }}
      labels: ${{ toJSON(github.event.pull_request.labels) }}
      pr-number: ${{ github.event.pull_request.number }}
      repo: ${{ github.repository }}
    secrets:
      gh-token: ${{ secrets.GITHUB_TOKEN }}
