name: Lint, Build, and Test

on:
  workflow_call:

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    outputs:
      child-workspace-packages: ${{ steps.child-workspace-packages.outputs.child-workspace-packages }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - name: Fetch child workspace package names
        id: child-workspace-packages
        run: |
          echo "child-workspace-packages=$(yarn child-workspace-packages-as-json)" >> "$GITHUB_OUTPUT"
        shell: bash

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - run: yarn lint
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  validate-changelog:
    name: Validate changelog
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        node-version: [20.x]
        package: ${{ fromJson(needs.prepare.outputs.child-workspace-packages) }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - run: yarn workspace ${{ matrix.package.name }} changelog:validate
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - run: yarn build
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
        package: ${{ fromJson(needs.prepare.outputs.child-workspace-packages) }}
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - run: yarn --immutable
      - run: yarn workspace ${{ matrix.package.name }} run test:verbose
      - name: Check for a Jest coverage threshold bump
        shell: bash
        run: |
          if ! git diff --exit-code packages/${{ matrix.package.location }}/jest.config.js; then
            echo "It appears that the test coverage has increased, but this is not reflected in the coverage thresholds."
            echo "Please re-run the following command locally to automatically adjust coverage thresholds:"
            echo "    yarn workspace ${{ matrix.package.name }} run test:verbose"
            exit 1
          fi
      - name: Require clean working directory
        shell: bash
        run: |
          if ! git diff --exit-code; then
            echo "Working tree dirty at end of job"
            exit 1
          fi
