name: Main

on:
  push:
    branches: [main]
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'refs/heads/main') }}

jobs:
  check-workflows:
    name: Check workflows
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Download actionlint
        id: download-actionlint
        run: bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/7fdc9630cc360ea1a469eed64ac6d78caeda1234/scripts/download-actionlint.bash) 1.6.25
        shell: bash
      - name: Check workflow files
        run: ${{ steps.download-actionlint.outputs.executable }} -color
        shell: bash

  analyse-code:
    name: Analyse code
    needs: check-workflows
    uses: MetaMask/action-security-code-scanner/.github/workflows/security-scan.yml@v2
    with:
      scanner-ref: v2
      paths-ignored: |
        .storybook/
        **/__snapshots__/
        **/*.snap
        **/*.stories.js
        **/*.stories.tsx
        **/*.test.browser.ts*
        **/*.test.js*
        **/*.test.ts*
        **/fixtures/
        **/jest.config.js
        **/jest.environment.js
        **/mocks/
        **/test*/
        docs/
        e2e/
        merged-packages/
        node_modules/
        storybook/
        test*/
    secrets:
      project-metrics-token: ${{ secrets.SECURITY_SCAN_METRICS_TOKEN }}
      slack-webhook: ${{ secrets.APPSEC_BOT_SLACK_WEBHOOK }}
    permissions:
      actions: read
      contents: read
      security-events: write

  lint-build-test:
    name: Lint, build, and test
    needs: check-workflows
    uses: ./.github/workflows/lint-build-test.yml

  check-release:
    name: Check release
    needs: check-workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get merge base
        id: merge-base
        if: github.event_name != 'push'
        env:
          BASE_REF: ${{ github.event.pull_request.base.ref || github.event.merge_group.base_ref }}
        run: |
          echo "MERGE_BASE=$(git merge-base HEAD "refs/remotes/origin/$BASE_REF")" >> "$GITHUB_OUTPUT"

      - name: Check if the commit or pull request is a release
        id: is-release
        if: github.event_name != 'push'
        uses: MetaMask/action-is-release@d063725cd15ee145d7e795a2e77db31a3e3f2c92
        with:
          commit-starts-with: 'Release [version],Release v[version],Release/[version],Release/v[version],Release `[version]`'
          commit-message: ${{ github.event.pull_request.title }}
          before: ${{ steps.merge-base.outputs.MERGE_BASE }}

      - name: Get pull request number
        if: github.event_name != 'push'
        id: pr-number
        env:
          EVENT_NAME: ${{ github.event_name }}
          PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
          MERGE_GROUP_HEAD_REF: ${{ github.event.merge_group.head_ref }}
        run: |
          if [ "$EVENT_NAME" = "pull_request" ]; then
            echo "PR_NUMBER=$PULL_REQUEST_NUMBER" >> "$GITHUB_OUTPUT"
          elif [ "$EVENT_NAME" = "merge_group" ]; then
            PR_NUMBER_REGEX='/pr-([0-9]+)-'
            if [[ "$MERGE_GROUP_HEAD_REF" =~ $PR_NUMBER_REGEX ]]; then
              echo "PR_NUMBER=${BASH_REMATCH[1]}" >> "$GITHUB_OUTPUT"
            else
              echo "::error::Could not extract PR number from merge group head ref: $MERGE_GROUP_HEAD_REF."
              exit 1
            fi
          fi

      - name: Check release
        if: github.event_name != 'push' && steps.is-release.outputs.IS_RELEASE == 'true'
        uses: ./.github/actions/check-release
        with:
          pull-request: ${{ steps.pr-number.outputs.PR_NUMBER }}

  is-release:
    name: Determine whether this is a release merge commit
    needs: lint-build-test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    outputs:
      IS_RELEASE: ${{ steps.is-release.outputs.IS_RELEASE }}
    steps:
      - id: is-release
        uses: MetaMask/action-is-release@v2
        with:
          commit-starts-with: 'Release [version],Release v[version],Release/[version],Release/v[version],Release `[version]`'

  publish-release:
    name: Publish release
    needs: is-release
    if: needs.is-release.outputs.IS_RELEASE == 'true'
    permissions:
      contents: write
    uses: ./.github/workflows/publish-release.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  create-update-issues:
    name: Create update issues
    needs: [is-release, publish-release]
    if: needs.is-release.outputs.IS_RELEASE == 'true'
    uses: ./.github/workflows/create-update-issues.yaml
    secrets:
      CORE_CREATE_UPDATE_ISSUES_TOKEN: ${{ secrets.CORE_CREATE_UPDATE_ISSUES_TOKEN }}

  all-jobs-complete:
    name: All jobs complete
    runs-on: ubuntu-latest
    needs:
      - analyse-code
      - check-release
      - lint-build-test
    outputs:
      passed: ${{ steps.set-output.outputs.passed }}
    steps:
      - name: Set passed output
        id: set-output
        run: echo "passed=true" >> "$GITHUB_OUTPUT"

  all-jobs-pass:
    name: All jobs pass
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: all-jobs-complete
    steps:
      - name: Check that all jobs have passed
        run: |
          passed="${{ needs.all-jobs-complete.outputs.passed }}"
          if [[ $passed != "true" ]]; then
            exit 1
          fi
