name: Publish a preview build

on:
  issue_comment:
    types: created

jobs:
  publish-preview:
    if: ${{ github.event.issue.pull_request && startsWith(github.event.comment.body, '@metamaskbot publish-preview') }}
    uses: MetaMask/github-tools/.github/workflows/publish-preview.yml@prepare-preview-builds-action
    with:
      environment: default-branch
      docs-url: 'https://github.com/MetaMask/core/blob/main/docs/processes/preview-builds.md'
    secrets:
      PUBLISH_PREVIEW_NPM_TOKEN: ${{ secrets.PUBLISH_PREVIEW_NPM_TOKEN }}
